<div class="am-add-meals-container">

  <div class="am-divAroundForm">
    <div class="am-add-mealsForm">
      <div class="am-header">
        <h2>{{dayview}}</h2>
        <h2>{{meal}}</h2>

      </div>

      </h2>
      <form action="/add-meals/{{day}}/{{meal}}" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="meal-name">
        <label for="i0">First ingredient:</label>
        <input type="text" name="i0" id="i0">
        <label for="i1">Second ingredient:</label>
        <input type="text" name="i1" id="i1">
        <label for="i2">Third ingredient:</label>
        <input type="text" name="i2" id="i2">
        <label for="i3">Fourth ingredient:</label>
        <input type="text" name="i3" id="i3">
        <label for="i4">Fifth ingredient:</label>
        <input type="text" name="i4" id="i4">
        <label for="i5">Sixth ingredient:</label>
        <input type="text" name="i5" id="i5">
        <label for="color">Color:</label>
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
  <div class="am-mealsList">
    <h4>Mealslist</h4>
    <ul>
      {{#each weekArray}}
      <li>
        {{#with (lookup ../plan @index)}}
        <p>{{breakfast.name}}</p>
        <form action="/copy/{{breakfast._id}}/{{../../day}}/{{../../meal}}" method="POST">
          <button type="submit">Add</button>
        </form>
        {{/with}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>


<a href="/shoppinglist">Save your plan and proceed to shoppinglist</a>