<div id="create-plan-container">
  <h2>How do you want to design your plan?</h2>
  <div class="cp-divbackgroundofcp">
    <div class="cp-customizeTable">
      <div class="cp-customizebackgroundcolor">
        <p>Background color</p>
        <div id="cp-backgroundcolors">
          <button id="cp-bgcolor1"></button>
          <button id="cp-bgcolor2"></button>
          <button id="cp-bgcolor3"></button>
          <button id="cp-bgcolor4"></button>
          <button id="cp-bgcolor5"></button>
          <button id="cp-bgcolor6"></button>
        </div>
      </div>

      <div class="cp-customizeweekdaycolor">
        <p>Weekday color</p>
        <div id="cp-weekdaycolor">
          <button id="cp-wdcolor1"></button>
          <button id="cp-wdcolor2"></button>
          <button id="cp-wdcolor3"></button>
          <button id="cp-wdcolor4"></button>
          <button id="cp-wdcolor5"></button>
          <button id="cp-wdcolor6"></button>
        </div>
      </div>

      <p>Meal Icons color</p>
      <p>Font Family</p>
      <p>Background picture</p>
      <a href="/shoppinglist">View Shoppinglist</a>
    </div>
    <div class="cp-divbackgroundofplan">
      <div id="cp-backgroundofplan">

        <table cellspacing="5" id="cp-plan">
          <thead>
            <tr class="cp-weekdays">
              <th class="cp-weekday">Meals</th>
              <th class="cp-weekday">Monday</th>
              <th class="cp-weekday">Tuesday</th>
              <th class="cp-weekday">Wednesday</th>
              <th class="cp-weekday">Thursday</th>
              <th class="cp-weekday">Friday</th>
              <th class="cp-weekday">Saturday</th>
              <th class="cp-weekday">Sunday</th>
            </tr>
          </thead>
          <tbody class="cp-tablebody">
            <tr>
              <td>Breakfast</td>
              {{#each weekArray}}
              <td>
                {{#with (lookup ../plan @index)}}
                {{breakfast.name}}
                {{/with}}
                <div><button id="{{@index}}bfast"><a href="/add-meals/{{@index}}/bfast">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Snack</td>
              {{#each weekArray}}
              <td>
                {{#with (lookup ../plan @index)}}
                {{morningsnack.name}}
                {{/with}}
                <div><button id="{{@index}}msnack"><a href="/add-meals/{{@index}}/msnack">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Lunch</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                {{lunch.name}}
                {{/with}}
                <div><button id="{{@index}}lunch"><a href="/add-meals/{{@index}}/lunch">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Snack</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                {{afternoonsnack.name}}
                {{/with}}
                <div><button id="{{@index}}lsnack"><a href="/add-meals/{{@index}}/lsnack">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Dinner</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                {{dinner.name}}
                {{/with}}
                <div><button id="{{@index}}dinner"><a href="/add-meals/{{@index}}/dinner">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
          </tbody>
        </table>

        <p>Hello {{user._plan}}</p>
      </div>

    </div>
  </div>
</div>