<div id="create-plan-container">
  <div class="cp-heading-wrapper">
    <h2>How do you want to design your plan, {{username}}?</h2>
  </div>
  <div class="cp-divbackgroundofcp">
    <div class="cp-customizeTable">
      <div class="customize-wrapper">
        <div class="cp-customizebackgroundcolor">
          <p>Select background color</p>
          <div id="cp-backgroundcolors">
            <button id="cp-bgcolor1"></button>
            <button id="cp-bgcolor2"></button>
            <button id="cp-bgcolor3"></button>
            <button id="cp-bgcolor4"></button>
            <button id="cp-bgcolor5"></button>
            <button id="cp-bgcolor6"></button>
          </div>
        </div>

        <div class="cp-customizeweekdaycolor">
          <p>Select weekday color</p>
          <div id="cp-weekdaycolor">
            <button id="cp-wdcolor1"></button>
            <button id="cp-wdcolor2"></button>
            <button id="cp-wdcolor3"></button>
            <button id="cp-wdcolor4"></button>
            <button id="cp-wdcolor5"></button>
            <button id="cp-wdcolor6"></button>
          </div>
        </div>

        <p class="style-plan">Meal Icons color</p>
        <p class="style-plan"> Font Family</p>
        <p class="style-plan">Background picture</p>
        <a class="shoppinglist" href="/shoppinglist">View Shoppinglist</a>
      </div>
    </div>
    <div class="cp-divbackgroundofplan">
      <div id="cp-backgroundofplan">

        <table cellspacing="5" id="cp-plan">
          <thead>
            <tr class="cp-weekdays">
              <th class="cp-weekday">Meals</th>
              <th class="cp-weekday"><a href="/viewschedule/0">Monday</a></th>
              <th class="cp-weekday"><a href="/viewschedule/1">Tuesday</a></th>
              <th class="cp-weekday"><a href="/viewschedule/2">Wednesday</a></th>
              <th class="cp-weekday"><a href="/viewschedule/3">Thursday</a></th>
              <th class="cp-weekday"><a href="/viewschedule/4">Friday</a></th>
              <th class="cp-weekday"><a href="/viewschedule/5">Saturday</a></th>
              <th class="cp-weekday"><a href="/viewschedule/6">Sunday</a></th>
            </tr>
          </thead>
          <tbody class="cp-tablebody">
            <tr>
              <td>Breakfast</td>
              {{#each weekArray}}
              <td>
                <div id="{{@index}}mealicon">
                  {{#with (lookup ../plan @index)}}
                  {{breakfast.name}}
                  {{/with}}
                  <button id="{{@index}}Breakfast"><a href="/add-meals/{{@index}}/Breakfast">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Snack</td>
              {{#each weekArray}}
              <td>
                {{#with (lookup ../plan @index)}}
                {{morningsnack.name}}
                {{/with}}
                <div><button id="{{@index}}Morningsnack"><a href="/add-meals/{{@index}}/Morningsnack">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Lunch</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                {{lunch.name}}
                {{/with}}
                <div><button id="{{@index}}Lunch"><a href="/add-meals/{{@index}}/Lunch">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Snack</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                {{afternoonsnack.name}}
                {{/with}}
                <div><button id="{{@index}}Afternoonsnack"><a
                      href="/add-meals/{{@index}}/Afternoonsnack">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td>Dinner</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                {{dinner.name}}
                {{/with}}
                <div><button id="{{@index}}Dinner"><a href="/add-meals/{{@index}}/Dinner">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
          </tbody>
        </table>

        <p>Hello {{user._plan}}</p>
      </div>

    </div>
  </div>
</div>