<div id="create-plan-container">
  <div class="cp-heading-wrapper">
    <h2 class="design">How do you want to design your plan, {{username}}?</h2>
  </div>
  <div class="cp-divbackgroundofcp">
    <div class="cp-customizeTable">
      <div class="customize-wrapper">
        <div class="cp-customizebackgroundcolor">
          <p>Select background color</p>
          <div id="cp-backgroundcolors">
            <button id="cp-bgcolor1"></button>
            <button id="cp-bgcolor2"></button>
            <button id="cp-bgcolor3"></button>
            <button id="cp-bgcolor4"></button>
            <button id="cp-bgcolor5"></button>
            <button id="cp-bgcolor6"></button>
            <button id="cp-bgcolor7"></button>
            <button id="cp-bgcolor8"></button>
            <button id="cp-bgcolor9"></button>
          </div>
        </div>

        <div class="cp-customizeweekdaycolor">
          <p>Select weekday color</p>
          <div id="cp-weekdaycolor">
            <button id="cp-wdcolor1"></button>
            <button id="cp-wdcolor2"></button>
            <button id="cp-wdcolor3"></button>
            <button id="cp-wdcolor4"></button>
            <button id="cp-wdcolor5"></button>
            <button id="cp-wdcolor6"></button>
            <button id="cp-wdcolor7"></button>
            <button id="cp-wdcolor8"></button>
            <button id="cp-wdcolor9"></button>
          </div>
        </div>

        <p class="style-plan">Meal Icons color</p>
        <p class="style-plan"> Font Family</p>
        <p class="style-plan">Background picture</p>
        <a class="shoppinglist" href="/shoppinglist">View Shoppinglist</a>
      </div>
    </div>
    <div class="cp-divbackgroundofplan">
      <div id="cp-backgroundofplan">

        <table cellspacing="5" id="cp-plan">
          <thead>
            <tr class="cp-weekdays">
              <th class="cp-weekday">Meals</th>
              <th class="cp-weekday" id="mon">Monday</th>
              <th class="cp-weekday">Tuesday</th>
              <th class="cp-weekday">Wednesday</th>
              <th class="cp-weekday">Thursday</th>
              <th class="cp-weekday">Friday</th>
              <th class="cp-weekday">Saturday</th>
              <th class="cp-weekday">Sunday</th>
            </tr>
          </thead>
          <tbody class="cp-tablebody">
            <tr>
              <td class="breakfast">Breakfast</td>
              {{#each weekArray}}
              <td>
                {{#with (lookup ../plan @index)}}
                <p id="meal-bf">{{breakfast.name}}</p>
                {{/with}}
                <div><button>
                    <id="{{@index}}bfast"><a class="add-meal" href="/add-meals/{{@index}}/bfast">Add</a>
                  </button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td class="snack">Snack</td>
              {{#each weekArray}}
              <td>
                {{#with (lookup ../plan @index)}}
                <p>{{morningsnack.name}}</p>
                {{/with}}
                <div><button id="{{@index}}msnack"><a href="/add-meals/{{@index}}/msnack">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td class="lunch">Lunch</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                <p>{{lunch.name}}</p>
                {{/with}}
                <div><button id="{{@index}}lunch"><a href="/add-meals/{{@index}}/lunch">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td class="snack">Snack</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                <p>{{afternoonsnack.name}}</p>
                {{/with}}
                <div><button id="{{@index}}lsnack"><a href="/add-meals/{{@index}}/lsnack">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
            <tr>
              <td class="dinner">Dinner</td>
              {{#each weekArray}}
              <td>{{#with (lookup ../plan @index)}}
                <p>{{dinner.name}}</p>
                {{/with}}
                <div><button id="{{@index}}dinner"><a href="/add-meals/{{@index}}/dinner">Add</a></button>
                </div>
              </td>
              {{/each}}
            </tr>
          </tbody>
        </table>

        <p>Hello {{user._plan}}</p>
      </div>

    </div>
  </div>
</div>