<div class="sl-shoppinglist-container">
  <h2 class="sl-h2">This is your shoppinglist</h2>
  <div class="shopping-list-wrapper">
    <div class="shopping-list">
      <ul>
        <h3>Breakfast</h3>
        {{#each weekArray}}

        {{#with (lookup ../plan @index)}}
        <li>{{breakfast.ingredients}}</li>
        {{/with}}

        {{/each}}
      </ul>
      <ul>
        <h3>Morningsnack</h3>
        {{#each weekArray}}

        {{#with (lookup ../plan @index)}}
        <li>{{morningsnack.ingredients}}</li>
        {{/with}}

        {{/each}}
      </ul>
      <ul>
        <h3>Lunch</h3>
        {{#each weekArray}}

        {{#with (lookup ../plan @index)}}
        <li>{{lunch.ingredients}}</li>
        {{/with}}

        {{/each}}
      </ul>
      <ul>
        <h3>Afternoonsnack</h3>
        {{#each weekArray}}

        {{#with (lookup ../plan @index)}}
        <li>{{afternoonsnack.ingredients}}</li>
        {{/with}}

        {{/each}}
      </ul>
      <ul>
        <h3>Dinner</h3>
        {{#each weekArray}}

        {{#with (lookup ../plan @index)}}
        <li>{{dinner.ingredients}}</li>
        {{/with}}

        {{/each}}
      </ul>
    </div>
    <div class="print-op">
      <button class="print" onClick="window.print()">Print this page</button>
      <a class="back-to-new-meal-plan" href="/welcome">Create new mealplan</a>
    </div>